@import "tailwindcss";

@theme {
  --color-stripe-purple: #635bff;
  --color-stripe-dark: #0a2540;
  --color-stripe-light: #f6f9fc;
  --color-accent: #ed5f74;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--color-stripe-dark);
  background-color: var(--color-stripe-light);
}
